<div class="container">
    <div class="card mt-1 p-3 bg-card">
        <div class="horizontal">
            <h2 class="text-center">
            <img class="logo" src="images/funky-l.png">Create New Quote/Invoice
            <img class="logo" src="images/funky-l.png">
            </h2>
        </div>
    
<div class="row mt-3 bg-card">

     <div class="col-md-2">
        <label>Name</label>
       <input class="form-control" [(ngModel)]="artist" placeholder="Artist" type="text" value="Michael Jackson">
     </div>
     <div class="col-md-2">
        <label>Company Name</label>
       <input class="form-control" [(ngModel)]="title" placeholder="Thriller" type="text" value="Thriller">
     </div>
     
     <div class="col-md-2">
        <label>Email</label>
       <input class="form-control" [(ngModel)]="year" placeholder="1999" type="text" value="1999">
     </div>
     <div class="col-md-2">
        <label>Phone</label>
       <input class="form-control" [(ngModel)]="type" placeholder="LP" type="text" value="LP">
     </div>
     
     
              
     

    
     <div class="col-md-2">
       <button class="btn btn-primary" (click)="addRecord()">ADD</button>
       </div>
   </div>
 </div>
 </div>



<div class="container mt-2 bt-2 mb-2">
    <div class="row">
        <h1>Posts</h1>
        <div><button (click)="addRecord()">Add Record</button></div>
        <div class="column col-lg-6" *ngFor="let record of records">
        <!-- @for(record of $records | async; track record.id) -->
            <div class="container course-card rounder">
                <div class="course-title">
                    <h2 class="form-background mt-2 pt-2 pb-2 rounder">{{record.artist}}</h2>
                </div>
                <h3>{{record.title}}</h3>
                <h4>{{record.year}}</h4>
                <h5>{{record.type}}</h5>
            </div>
    
        
    </div>
    </div>

</div>

