<!-- add-character.component.html -->
<form (ngSubmit)="addCharacters()" id="characterForm">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-2">
        <label>{{ editCharacter ? 'EDIT Character' : 'NEW Character' }}:</label>
        <input class="form-control" [(ngModel)]="addCharacter" name="addCharacter" type="text" />
      </div>

      <div class="col-md-2 mt-4">
        <button class="btn btn-light" type="button">
          <a href="https://es.pinterest.com/search/pins/?q={{addCharacter}}+marvel&rs=typed"
            style="text-decoration:none" target="_blank">
            FIND IMAGE</a>
        </button>
      </div>

      <div class="col-md-4 mt-4">
        <input type="file" id="image" (change)="onFileChange($event)" accept="image/x-png,image/gif,image/jpeg, image/jpg, image/webp" />
        <p>{{ addCharacter }}</p>
      </div>

      <div class="col-md-2 mt-4">
        <button class="btn btn-primary" type="submit">
          {{ editCharacter ? 'UPDATE' : 'ADD' }} Character
        </button>
        <button *ngIf="editCharacter" class="btn btn-secondary ms-2" type="button" (click)="resetForm()">
          CANCEL
        </button>
      </div>
    </div>
  </div>
</form>

<div class="container card mt-2">
  <table class="table mt-2 mb-z table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col" style="width: 8%;">ID
          
          <button class="btn btn-link btn-sm p-0 ms-1" type="button" (click)="sortById()" aria-label="Sort by ID">
            
            <span class="visually-hidden">Sort by ID</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M3.5 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm7.646 2.646a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L10 8.793V1.5a.5.5 0 0 1 1 0v7.293l1.354-1.355a.5.5 0 1 1 .708.708l-2 2zm-2 2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L10 13.207V15.5a.5.5 0 0 1-1 0v-2.293l-1.354 1.355a.5.5 0 1 1-.708-.708l2-2z"/>
            </svg>
          </button>
        </th>
        <th scope="col">Character
          <button class="btn btn-link btn-sm p-0 ms-1" type="button" (click)="sortByName()" aria-label="Sort by Name">
            
            <span class="visually-hidden">Sort by Name</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M3.5 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm7.646 2.646a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L10 8.793V1.5a.5.5 0 0 1 1 0v7.293l1.354-1.355a.5.5 0 1 1 .708.708l-2 2zm-2 2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L10 13.207V15.5a.5.5 0 0 1-1 0v-2.293l-1.354 1.355a.5.5 0 1 1-.708-.708l2-2z"/>
            </svg>
          </button>
        </th>
        <th scope="col">Image</th>
        <th scope="col" style="width: 20%;">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let hero of filteredCharacters">
      <tr>
        <th>{{ hero.id }}</th>
        <td>{{ hero.name }}</td>
        <td>
          <img width="15%" alt="Comic Book for sale" [src]="'https://back.swap2go.ca/public/characters/' + hero.imageName" class="mt-2" />
        </td>
        <td>
          <button class="btn btn-info me-2" (click)="viewCharacter(hero)">VIEW</button>
          <button class="btn btn-warning me-2" (click)="editExistingCharacter(hero)">EDIT</button>
          <button class="btn btn-danger" (click)="deleteCharacter(hero)">DELETE</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>