<form (submit)="addBlog2()">
    <div class="container mt-5">
        <h2>Create Blog</h2>
        <h5>
            <p>idPB, 
                catBlog, 
                titleBlog,
                bodyBlog,
                imageBlo,
                imageThumbBlog,
            </p>
        </h5>
    
        <div class="mb-3">
            <label for="titleBlog" class="form-label">Title:</label>
            <input type="text" class="form-control" id="titleBlog" name="titleBlog" [(ngModel)]="titleBlog" required>
        </div>
        <div class="mb-3">
            <label for="catBlog" class="form-label">Category:</label>
            <select type="text" class="form-control" id="catBlog" name="catBlog" [(ngModel)]="catBlog" required>
                <option value="1">Comics</option>
                <option value="2">Music</option>
                <option value="3">Tech </option>
            </select>
        </div>
        <div class="mb-3">
            <label for="bodyBlog" class="form-label">Body:</label>
            <textarea class="form-control" id="bodyBlog" name="bodyBlog" rows="5" [(ngModel)]="bodyBlog" required></textarea>
            <small id="wordCount" class="form-text text-muted">Word count: 0</small>
        </div>
        <div class="mb-3">
            <label for="imageBlog" class="form-label">Image:</label>
            <input type="file" class="form-control" id="imageBlog" name="imageBlog" (change)="onFileChange($event)" accept="image/*" required>
        </div>
    
    
        <button type="submit" class="btn btn-primary">Submit</button>
    
    
        <h2 class="mt-5">Recent Blogs</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Body</th>
                    <th>Image</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody id="blogList">
                <tr *ngFor="let item of blogs">
                    <td>{{item.titleBlog}}</td>
                    <td>{{item.bodyBlog}}</td>
                    <td><img [src]="'https://back.funkyrobot.ca/public/' + item.imageBlog" alt="{{item.titleBlog}}" class="img-thumbnails" width="100"></td>
                    <td>{{item.catBlog}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</form>

