<form (ngSubmit)="!editingComicId && createNewComic()">

  <div class="container">
    <div class="card mt-1 p-3 bg-card">
      <div class="horizontal">
        <h2 class="text-center">
          {{editingComicId ? 'Editing Comic #' + editingComicId : 'Create New Comic Book'}}
        </h2>
      </div>

      <div class="row mt-3 bg-card">
        <!-- Form Fields (unchanged from your original) -->
        <div class="col-md-4">
          <label>Title:</label>
          <input class="form-control" [(ngModel)]="title" placeholder="Title" type="text" name="title" />
        </div>
        <div class="col-md-2">
          <label>Issue No.:</label>
          <input class="form-control" [(ngModel)]="issue" placeholder="Issue #" type="text" name="issue" />
        </div>

        <div class="col-md-2">
          <label>Type:</label>
          <select class="form-control" [(ngModel)]="type" name="type">
            <option>Single Issue</option>
            <option>TPB</option>
            <option>book</option>
            <option>set</option>
            <option>hard cover</option>
            <option>Magazine</option>
            <option>Oversized</option>
            <option>Treasury</option>

          </select>
        </div>
        <div class="col-md-2">
          <label>Year:</label>
          <input class="form-control" [(ngModel)]="year" placeholder="1999" type="text" name="year" />
        </div>

        <div class="col-md-2">
          <label>Publisher</label>
          <select class="form-control" [(ngModel)]="publisher" name="publisher">
            <option value="All">All</option>
            <option *ngFor="let item of companys">{{ item.name }}</option>
          </select>
        </div>

        <!-- Every 4 Forms -->


        <div class="col-md-2">
          <label>Key/Trade Name:</label>
          <input class="form-control" [(ngModel)]="key" placeholder="" type="text" value="1st Mister Miracle"
            name="key" />
        </div>

        <div class="col-md-4">
          <label>Characters:</label>
          <input class="form-control" [(ngModel)]="characters" placeholder="Batman" type="text" value="Batman"
            name="characters" />
        </div>
        <div class="col-md-2">
          <label>Writer:</label>
          <input class="form-control" [(ngModel)]="writer" placeholder="Grant Morrison" type="text"
            value="Grant Morrison" name="writer" />
        </div>
        <div class="col-md-2">
          <label>Artist:</label>
          <input class="form-control" [(ngModel)]="artist" placeholder="George Perez" type="text" value="George Perez"
            name="artist" />
        </div>
        <div class="col-md-2 mt-4">
          <button class="btn btn-light" type="button">
            <a href="https://www.ebay.ca/sch/i.html?_nkw={{title}}+{{issue}}+{{publisher}}&_sacat=0&_from=R40&_trksid=p4432023.m570.l1313"
              style="text-decoration:none" target=”_blank”>
              FIND Value</a></button>
        </div>

        <div class="col-md-2">
          <label>Value:</label>
          <input class="form-control" [(ngModel)]="value" type="number" name="value" />
        </div>

        <div class="col-md-2">
          <label>Slabbed:</label>
          <input class="form-control" [(ngModel)]="slabbed" placeholder="Slabbed?  Yes or No" type="text" value="No"
            name="slabbed" />
        </div>
        <div class="col-md-2">
          <label>ISBN:</label>
          <input class="form-control" [(ngModel)]="isbn" placeholder="ISBN: 999-999-0001" type="text"
            value="999-999-001" name="isbn" />
        </div>
        <div class="col-md-2">
          <label>Qty:</label>
          <input class="form-control" [(ngModel)]="qty" placeholder="1" type="number" value="1" name="qty" />
        </div>

        <div class="col-md-2">
          <label>Grade:</label>
          <input class="form-control" [(ngModel)]="grade" placeholder="Number (1-10)" type="text" name="grade" />
        </div>


        <div class="col-md-2">
          <label>Volume:</label>
          <input class="form-control" [(ngModel)]="volume" placeholder="Vol. 1" type="text" name="volume" />
        </div>

        <div class="col-md-2 mt-4">
          <button class="btn btn-light">
            <a href="https://www.google.com/search?sca_esv=e04e555e27c90511&sxsrf=AHTn8zp5DMFDN-FiafWvzJ6kEJwRikQD7A:1739282919599&q={{title}}+{{issue}}+comic+book+{{publisher}}+{{key}}&udm=2&fbs=ABzOT_CWdhQLP1FcmU5B0fn3xuWpA-dk4wpBWOGsoR7DG5zJBsxayPSIAqObp_AgjkUGqekYoUzDaOcDDjQfK4KpR2OIjj43mhrQBsMJgHY2LSx-SUj4wz68xSZ8iYTfqgrdxb3MJvHOMODdIcpti-xYMckL_DuO7Mno3LlWlsnznPPjfINcnPSb3s0mY1_Udv3xmGYGwDe_3zR2JNQT7OndwaUM5c3nJw&sa=X&ved=2ahUKEwiot9jk5buLAxUMtokEHSedHkgQtKgLegQIEBAB&biw=1573&bih=741&dpr=1.09"
              style="text-decoration:none" target=”_blank”>
              FIND IMAGE</a></button>
        </div>

        <div class="col-md-4">
          <label>Image:</label>
          <input class="form-control" (change)="onFileChange($event)" type="file" id="image" />
        </div>

        <div class="col-md-6">
          <label>Condition:</label>
          <input class="form-control" [(ngModel)]="condition" placeholder="Excellent Condition" type="text"
            name="condition" />
        </div>

        
          <div class="col-md-2 mt-4">
            <button type="button" class="btn btn-light">
              <a href="https://www.google.com/search?q=quick+description+of+{{publisher}}+{{title}}+{{issue}}+{{writer}}+comic+{{year}}+{{key}}&rlz=1C1YTUH_enCA1086CA1086"
                style="text-decoration:none" target=”_blank”>
                FIND DESC</a></button>
                
              </div>
              <div class="col-md-2 mt-4">
                <button class="btn btn-light" type="button" (click)="updateShort()">Update Short.</button>
              </div>
          <div class="col-md-2 mt-4">
            <button class="btn btn-light" type="button" (click)="updateDesc()">Update Short & Desc.</button>
          </div>

          
        





        <div class="col-md-12">
          <label>Short:</label>
          <input class="form-control" [(ngModel)]="short" placeholder="Short Desc." type="text"
            value="Great Story & Art" name="short" />
        </div>
        <div class="col-md-12">
          <label>Description:</label>
          <p>{{description}}</p>
          <input class="form-control" [(ngModel)]="description" placeholder="Amazing" type="text" value="Amazing"
            name="description" />
        </div>


        <div class="col-md-3 mt-4">
          <button class="btn btn-primary" type="submit">
            {{editingComicId ? 'UPDATE Comic' : 'ADD Comic'}}
          </button>
        </div>
        <div class="col-md-3 mt-4" *ngIf="editingComicId">
          <button class="btn btn-secondary" type="button" (click)="updateComic()">
            Update ({{editingComicId}})
          </button>
        </div>
        <div class="col-md-3 mt-4" *ngIf="editingComicId">
          <button class="btn btn-secondary" type="button" (click)="cancelEdit()">
            Cancel Edit
          </button>
        </div>
        <div class="col-md-3 mt-4">
          <button class="btn btn-primary" type="button" (click)="refreshPage()">Refresh Below</button>
        </div>
        <div class="col-md-6 mt-4">
          <a>Check out more at www.isellcomics.ca</a>
        </div>




      </div>
    </div>
  </div>

  <!-- Display & quick list of Comic Books -->

  <!-- Comics List Table -->

  <div class="container card mt-2">
   
    <table class="table mb-z table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID:</th>
          <th scope="col">image</th>
          <th scope="col">Title:</th>
          <th scope="col">Artist:</th>
          <th scope="col">Type:</th>
          <th scope="col">Year:</th>
          <!-- <th scope="col">Set</th> -->
          <th scope="col">
            <div class="col-md-12">
              <select class="form-control col-lg-6" [(ngModel)]="sortPublisher2" name="sortPublisher2">
                <option class="column col-lg-6 mb-2" *ngFor="let item of companys">
                  {{ item.name }}
                </option>
                <!-- <option>No</option> -->
                <!-- <option>Fancy</option> -->
                <!-- <option>Kids</option> -->
                <!-- <div class="column col-lg-6 mb-2" *ngFor="let item of comicbooks">   -->
              </select>
            </div>
          </th>
          <th scope="col">Value</th>
        </tr>
      </thead>

      <tbody *ngFor="let comic of comicbooks.slice().reverse()">
        <tr class="align-items-center" *ngIf="comic.publisher == sortPublisher2 && comic.image === 'marvel.jpg'">
          <!-- <ul class="list-group mt-3"> -->
          <!-- <li class="list-group-item d-flex justify-content-between align-items-center" > -->
          <!-- <td>{{customer.fName}}</td>  -->

          <th scope="row">{{ comic.id }}</th>
          <td>
            <img width="50" [src]="'https://back.swap2go.ca/public/' + comic.image" alt="{{comic.title}}">
          </td>
          <td>{{ comic.title }} ({{ comic.issue }})</td>
          <td>{{ comic.artist }}</td>
          <td>{{ comic.type }}</td>
          <td>{{ comic.year }}</td>
          <!-- <td>{{cust.pbSet}}</td> -->
          <td>{{ comic.publisher }}</td>
          <td>{{ comic.value }}</td>

          <td>
            <button class="btn btn-sm btn-warning" (click)="loadComicForEdit(comic)">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>

<!-- .slice().reverse().slice(0, 25) -->