<form (ngSubmit)="addComic()">
  <div class="container">
    <div class="card mt-1 p-3 bg-card">
      <div class="horizontal">
        <h2 class="text-center">
         Create New Comic Book
         
        </h2>
      </div>

      <div class="row mt-3 bg-card">
        <div class="col-md-4">
          <label>Title:</label>
          <input class="form-control" [(ngModel)]="title" placeholder="Title" type="text"
            value="Justice League of America" name="title" />
        </div>
        <div class="col-md-2">
          <label>Issue No.:</label>
          <input class="form-control" [(ngModel)]="issue" placeholder="Issue #" type="text" value="200" name="issue" />
        </div>

        <div class="col-md-2">
          <label>Type:</label>
          <select class="form-control" [(ngModel)]="type" name="type">
            <option>Single Issue</option>
            <option>TPB</option>
            <option>book</option>
            <option>set</option>
            <option>hard cover</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>Year:</label>
          <input class="form-control" [(ngModel)]="year" placeholder="1999" type="text" value="1999" name="year" />
        </div>

        <div class="col-md-2">
          <label>Publisher</label>
          <select class="form-control" [(ngModel)]="publisher" name="publisher">
            <option class="column col-lg-6 mb-2" *ngFor="let item of companys">
              {{ item.name }}
            </option>
            <!-- <option>No</option> -->
            <!-- <option>Fancy</option> -->
            <!-- <option>Kids</option> -->
            <!-- <div class="column col-lg-6 mb-2" *ngFor="let item of comicbooks">   -->
          </select>
        </div>

        <!-- Every 4 Forms -->

      
        <div class="col-md-2">
          <label>Key/Trade Name:</label>
          <input class="form-control" [(ngModel)]="key" placeholder="" type="text" value="1st Mister Miracle"
            name="key" />
        </div>

        <div class="col-md-2">
          <label>Characters:</label>
          <input class="form-control" [(ngModel)]="characters" placeholder="Batman" type="text" value="Batman"
            name="characters" />
        </div>
        <div class="col-md-2">
          <label>Writer:</label>
          <input class="form-control" [(ngModel)]="writer" placeholder="Grant Morrison" type="text"
            value="Grant Morrison" name="writer" />
        </div>
        <div class="col-md-2">
          <label>Artist:</label>
          <input class="form-control" [(ngModel)]="artist" placeholder="George Perez" type="text" value="George Perez"
            name="artist" />
        </div>
        <div class="col-md-2 mt-4">
          <button class="btn btn-light" type="button">
            <a href="https://www.ebay.ca/sch/i.html?_nkw={{title}}+{{issue}}+{{publisher}}&_sacat=0&_from=R40&_trksid=p4432023.m570.l1313"
              style="text-decoration:none" target=”_blank”>
              FIND Value</a></button>
        </div>

        <div class="col-md-2">
          <label>Value:</label>
          <input class="form-control" [(ngModel)]="value" type="number" name="value" />
        </div>

        <div class="col-md-2">
          <label>Slabbed:</label>
          <input class="form-control" [(ngModel)]="slabbed" placeholder="Slabbed?  Yes or No" type="text" value="No"
            name="slabbed" />
        </div>
        <div class="col-md-2">
          <label>ISBN:</label>
          <input class="form-control" [(ngModel)]="isbn" placeholder="ISBN: 999-999-0001" type="text"
            value="999-999-001" name="isbn" />
        </div>
        <div class="col-md-2">
          <label>Qty:</label>
          <input class="form-control" [(ngModel)]="qty" placeholder="1" type="number" value="1" name="qty" />
        </div>
        <div class="col-md-2 mt-4">
          <button class="btn btn-light">
            <a href="https://www.google.com/search?sca_esv=e04e555e27c90511&sxsrf=AHTn8zp5DMFDN-FiafWvzJ6kEJwRikQD7A:1739282919599&q={{title}}+{{issue}}+comic+book+{{publisher}}+{{key}}&udm=2&fbs=ABzOT_CWdhQLP1FcmU5B0fn3xuWpA-dk4wpBWOGsoR7DG5zJBsxayPSIAqObp_AgjkUGqekYoUzDaOcDDjQfK4KpR2OIjj43mhrQBsMJgHY2LSx-SUj4wz68xSZ8iYTfqgrdxb3MJvHOMODdIcpti-xYMckL_DuO7Mno3LlWlsnznPPjfINcnPSb3s0mY1_Udv3xmGYGwDe_3zR2JNQT7OndwaUM5c3nJw&sa=X&ved=2ahUKEwiot9jk5buLAxUMtokEHSedHkgQtKgLegQIEBAB&biw=1573&bih=741&dpr=1.09"
              style="text-decoration:none" target=”_blank”>
              FIND IMAGE</a></button>
        </div>

        <div class="col-md-4">
          <label>Image:</label>
          <input class="form-control" (change)="onFileChange($event)" type="file" id="image" />
        </div>

       

       <div class="col-md-12">
        <div class="col-md-2">
          <label>Grade:</label>
          <input class="form-control" [(ngModel)]="grade" placeholder="Number (1-10)" type="text"
            name="grade" />
        </div>

        
          <div class="col-md-2">
            <label>Volume:</label>
            <input class="form-control" [(ngModel)]="volume" placeholder="Vol. 1" type="text"
              name="volume" />
          </div>

        <div class="col-md-4">
          <label>Condition:</label>
          <input class="form-control" [(ngModel)]="condition" placeholder="Excellent Condition" type="text"
            name="condition" />
        </div>
       </div>

        <div class="col-md-2 mt-4">
          <button type="button" class="btn btn-light">
            <a href="https://www.google.com/search?q=quick+description+of+{{publisher}}+{{title}}+{{issue}}+{{writer}}+comic+{{year}}+{{key}}&rlz=1C1YTUH_enCA1086CA1086"
              style="text-decoration:none" target=”_blank”>
              FIND DESC</a></button>
        </div>

        <div class="col-md-2 mt-4">
          <button class="btn btn-light" type="button" (click)="updateDesc()">Update Desc.</button>
        </div>



        <div class="col-md-12">
          <label>Short:</label>
          <input class="form-control" [(ngModel)]="short" placeholder="Short Desc." type="text"
            value="Great Story & Art" name="short" />
        </div>
        <div class="col-md-12">
          <label>Description:</label>
          <p>{{description}}</p>
          <input class="form-control" [(ngModel)]="description" placeholder="Amazing" type="text" value="Amazing"
            name="description" />
        </div>


        <div class="col-md-6 mt-4">
          <button class="btn btn-primary" type="submit">ADD Comic</button>
        </div>
        <div class="col-md-6 mt-4">
          <button class="btn btn-primary" type="button" (click)="refreshPage()">Refresh Below</button>
        </div>
        <div class="col-md-6 mt-4">
          <a>Check out more at www.isellcomics.ca</a>
        </div>
        



      </div>
    </div>
  </div>

  <!-- Display & quick list of Comic Books -->

  <div class="container card mt-2">
    <h3>Comics Added</h3>
    <table class="table mt-2 mb-z table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID:</th>
          <th scope="col">Image:</th>
          <th scope="col">Title:</th>
          <th scope="col">Writer/Artist:</th>
          <th scope="col">Year:</th>
          <th scope="col">Type:</th>
          <th scope="col">
            <div class="col-md-6">
              <label>Publisher</label>
              
            </div>
          </th>
          <th scope="col">Value</th>
          <th scope="col">Short</th>
        </tr>
      </thead>

      <tbody *ngFor="let comic of comicbooks.slice().reverse().slice(0, 10)">
        <tr class="align-items-center">
          <th scope="row">{{ comic.id }}</th>
          <td class="col-md-1">
        <img width="75%" alt="Comic Book for sale" [src]="'https://back.swap2go.ca/public/' + comic.image"
          class="mt-1" />
          </td>
          <td class="col-md-2">{{ comic.title }} ({{ comic.issue }})</td>
          <td class="col-md-2">
        <table class="table col-md-2">
          <tr>{{ comic.writer }}</tr>
          <tr>{{ comic.artist }}</tr>
        </table>
          </td>
          <td class="col-md-1">{{ comic.year }}</td>
          <td class="col-md-1">{{ comic.type }}</td>
          <td class="col-md-1">{{ comic.publisher }}</td>
          <td class="col-md-1">{{ comic.value }}</td>
          <td class="col-md-2">{{ (comic.short | slice:0:34)}}...</td>
        </tr>
      </tbody>
    </table>
  </div>

</form>